@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

body {
	margin: 0;
	padding: 0;
	font-size: 18px;
  background: #22111d;
  font-family: "Geologica", sans-serif;
  color: white;
}

.container {
  max-width: 390px;
  text-align: center;
  padding: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
  border: none;
  background: #341924;
  color: white;
}

.srintus {
  background: rgba(117, 190, 218, 0);
  border: none;
  padding: 10px 20px;
}
.srintus:hover {
  background: rgba(117, 190, 218, 0);
  border: none;
  padding: 10px 20px;
}
.progress-bar {
  width: 100%;
  background: rgb(159,159,159, 15);
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 0;
}

.progress-bar-fill {
  height: 30px;
  width: 100%;
  background: linear-gradient(90deg, rgba(88,29,71,1) 0%, rgba(255,147,235,1) 100%);
  transition: width 0.3s;
}
