@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

body {
	margin: 0;
	padding: 0;
	font-size: 18px;
  background: #19050c;
  font-family: "Geologica", sans-serif;
  color: white;
}

.container {
  max-width: 390px;
  text-align: center;
  padding: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
  border: none;
  background: #2b0915;
  color: white;
}

.srintus {
  background: rgba(117, 190, 218, 0);
  border: none;
  padding: 10px 20px;
}
.srintus:hover {
  background: rgba(117, 190, 218, 0);
  border: none;
  padding: 10px 20px;
}
.progress-bar {
  width: 100%;
  background: #260813;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 0;
}

.progress-bar-fill {
  height: 30px;
  width: 100%;
  background: linear-gradient(90deg, #480e22 0%, #d76e8c 100%);
  transition: width 0.3s;
}

.clicker-container {
  position: relative;
  display: inline-block;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  z-index: 1;
}

.image-button {
  background: none;
  border: none;
  padding: 0;
  z-index: 2;
  position: relative;
}

.image-button img {
  width: 400px;
  height: 400px;
}
